.THIS .btnWidth{
    Width:156px;
}
.THIS .ButtonsLayout{
    Padding-left:10%;
    Padding-right:10px;
}
.THIS .QuoteButtons{
   Padding-top:5px;
   Padding-bottom:5px;
}
.THIS .Buttoncolor{
     background-color: #f44336;
}